
<div class="row">
    <div class="column">
        <img style="width: 490px"  src="../../../assets/sediu.png" alt="caca">

        <b><div><br>Showroom</div></b>
        <p>Strada Lotrului, Târgu Jiu</p>

        <b><div>Email:</div></b>
        <p>salbero_srl@yahoo.com</p>

        <b><div>Program de lucru:</div></b>
        <div>Luni-Vineri: 8:00 - 17:00</div>
        <p>Sambata 8:00 - 13:00</p>

        <b><div>Informatii clienti:</div></b>
        <a class="phone" href="tel:+40729352586">+40 729 352 586</a><br>
        <a class="phone" href="tel:+40729333207">+40 729 333 207</a>

    </div>
    <div class="column">
        <img style="width: 490px"  src="../../../assets/sediu.png" alt="caca">

        <b><div><br>Showroom</div></b>
        <p>DN67, Copăcioasa</p>
    </div>
</div>















<!--cam asa era contactul -->


<!--<script src="/src/app/components/contact/server.js"></script>-->

<!--<body>-->
<!--<div class="container">-->
<!--    <div style="text-align:center">-->
<!--        <h2>Contacteaza-ne</h2>-->
<!--        <p>Cere o oferta personalizata!</p>-->
<!--    </div>-->
<!--    <div style="margin-right: 15%; margin-left: 15%">-->
<!--        <form action="" >-->
<!--            <label for="fname">Nume</label>-->
<!--            <input type="text" id="fname" name="firstname" placeholder="Numele tau..">-->
<!--            <label for="lname">Prenume</label>-->
<!--            <input type="text" id="lname" name="lastname" placeholder="Prenumele tau..">-->
<!--            <label for="lname">Oras</label>-->
<!--            <input type="text" id="town" placeholder="Orasul tau..">-->
<!--            <label for="lname">Telefon</label>-->
<!--            <input type="text" id="phone" name="lastname" required placeholder="Telefonul tau..">-->

<!--            <label for="subject">Subiect</label>-->
<!--            <textarea id="subject" name="subject" placeholder="Scrie ceva..." style="height:170px"></textarea>-->
<!--            <div class="text-center" id="btn-submit">-->
<!--                <input class="submit-button" style="background: dodgerblue" type="submit" value="Trimite">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
