.container{
    margin-left: 5%;
}

img{
    width: 90%;
    height: 90%;
}

.small-img-container{
    margin-left: -14px;
    margin-right: 6%;
    margin-top: 5%;
    width: 70px;
    height: 70px;
    display: inline-block;
}
#small-selected-img {
/*    to be set */
    border-radius: 20px;
}


@media only screen and (min-width: 600px)
{
    .big-image{
        margin-left: 15%;
        width: 60%;
    }

    .small-img-container{
        width: 100px;
        height: 100px;
    }

    .small-images{
        margin-left: 15%;
    }
}


