
hr{
    border-top: 3px solid #D3D3D3;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 60%;
}

.content-table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table thead {
    background-color: #e78200;
    width: 100%;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/*  above we have the table */

.container-produs {
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 100%;
    height: 100%;
}

.small-images-big-container {
    margin-top: 5%;
    display: flex;

}

.small-img-containers {
    margin-right: 5%;
    width: 20%;
}

.small-img {
    border-radius: 3px;
}

.small-selected-img {
    border: 2px solid #0082E6;
}

.container-title-description-price {
    margin-top: 4%;
}

.item-price {
    color: dimgray;
    font-weight: 600;
    font-size: 21px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

sup {
    font-size: 65%;
    position: relative;
    margin-left: .1em;
}

.call-now-button {
    color: #231F20;
    background-color: #e78200;
    border: 1px solid #231F20;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.product-code {
    color: #B0b0b0;
    font-size: 80%
}

.big-image {
    border: #e6e6e6 2px solid;
    border-radius: 5px;
}


@media only screen and (min-width: 600px) {
    .container-produs {
        margin-left: 13%;
        margin-right: 13%;
    }

    .container-upper-part {
        display: flex;
    }

    .big-image {
        width: 100%;
        height: 100%;
    }

    .container-title-description-price {
        margin-top: 4%;
        margin-left: 4%;
        margin-right: 2%;
    }

    .small-img-containers {
        margin-right: 5%;
        width: 10%;
    }

    .small-img {
        margin-right: 0;
        overflow: hidden;
    }

    #small-selected-img {
        margin-right: 0;
        width: 11%;

    }
}


