<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gard, tigla, fantana arteziana, boltari, jardiniere, vaze, targu jiu, borduri, pavele"/>
    <meta name="author" content="Salbero S.R.L.">
    <meta name="description"
          content="">
    <title>Salbero - Producator Gard, Boltari, Pavele si alte prefabricate din beton </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="big-image">
                <img src="{{selectedImage}}" alt="selectedImg">
            </div>
            <div>
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
        <div class="small-images">
            <div *ngFor="let img of images"
                 (click)="onSelect(img)"
                 [class.selected]="img === selectedImage" class="small-img-container">
                <img src="{{img}}">
            </div>
        </div>
    </div>
</body>
