

.container {
    background-color: #e9ebee;
}

/*.products-header {*/
/*    background-color: white;*/
/*    margin-left: -2%;*/
/*    margin-bottom: 2%;*/
/*    border-style: solid;*/
/*    border-width: 1px;*/
/*    border-color: ghostwhite;*/
/*}*/

/*.products-header-theme {*/
/*    margin-left: 5%;*/
/*    font-size: 20px;*/
/*    font-family: "Open Sans";*/
/*    color: #3b3b3b;*/

/*}*/

/*.products-header-nof-products {*/
/*    margin-left: 5%;*/
/*    font-size: 18px;*/
/*    font-family: "Open Sans";*/
/*    color: #3b3b3b;*/

/*}*/

.mycard {
    width: 48%;
    height: 80%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-color: lightgray;
    border-width: 1px;
    border-style: ridge;
    align-items: center;
    background-color: white;
}


.mycard-image {
    width: 100%;
    height: 100%;
}


.see-details-btn {
    background-color: #0082E6;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}

.productDescription{
    margin-top: 5%;
    display: block;
    font-family: arial, Semibold, serif;
    letter-spacing: -.5px;
    font-size: 15px;
    line-height: 20px;
    /*max-height: 60px;*/
    font-weight: 700;
    height: 25px;
    text-align: center;
}

.productPrice {
    /* like this */

    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #e78200;


/*    or like this */

    /*text-align: center;*/
    /*font-size: 15px;*/
    /*font-weight: 500;*/

}

@media only screen and (min-width: 768px) {


    .container {
        background-color: white;
    }

    .mycard {
        width: 30%;
    }

    .myrow {
    }

    .mycard-image {

    }
}
