<div class="container">
    <div>{{getTheme()}}</div>
    <hr>
    <div class="row">
        <div *ngFor="let product of resolveProducts()" class="mycard">
            <img class="mycard-image" src="{{product.urlImage[0]}}" alt="Card image cap"
                 [routerLink]="['',product.name]"
                 (click)="goItem(product)">

            <p class="productDescription">{{product.name}}</p>
            <hr style="margin-top: 0">
            <p class="productPrice">{{product.price}} {{product.priceUnitMeasure}}</p>
            <button type="button" class="btn btn-light see-details-btn" [routerLink]="['',product.name]"
                    (click)="goItem(product)" style="color: lightgray">Vezi detalii</button>
        </div>
    </div>
</div>
