

.container {
}

.mycard {
    width: 48%;
    height: 80%;
    margin-bottom: 5%;
    margin-left: 1%;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    align-items: center;
}

.row {
}

.mycard-image {
    width: 100%;
    height: 80%;
}

.see-details-btn {
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    background-color: #0082E6;
}

.productDescription{
    margin-top: 5%;
    margin-left: 5%;
    display: block;
    font-family: OpenSans Semibold;
    letter-spacing: -.5px;
    line-height: 19px;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {


    .contain {

    }

    .mycard {
        width: 30%;
    }

    .myrow {
    }

    .mycard-image {

    }
}
