<!----------Footer----------->
<footer id="footer">
    <div class="container">
        <div class="text-center">
            <h5>Salbero</h5>
            <ul class="list-unstyled quick-links">
                <li><a [routerLink]="['']"><i class="fa fa-angle-double-right"></i>Acasă</a></li>
                <li><a routerLink="despre-noi"><i class="fa fa-angle-double-right"></i>Despre noi</a></li>
                <li><a routerLink="contact"><i class="fa fa-angle-double-right"></i>Comandă</a></li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://www.facebook.com/Salbero/"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="mailto:salbero_srl@yahoo.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<br>
<footer id="footer-copyright">
    <div>
        <div>
            <p class="h6">Copyright &copy; Salbero S.R.L., Reg. Com. J18/60/2002 </p>
        </div>
    </div>
</footer>
