<!----------Footer----------->
<section id="footer">
    <div class="container">
        <div class="text-center">
            <h5>Salbero</h5>
            <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Acasă</a></li>
                <li><a href="#despre-noi"><i class="fa fa-angle-double-right"></i>Despre noi</a></li>
                <li><a href="#contact"><i class="fa fa-angle-double-right"></i>Comandă</a></li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://www.facebook.com/Salbero/?__tn__=%3C-R&eid=ARBJ4_soZFdXTaCQ3rvE5ShVP3MMCNOhPQk5GytWjDrXQbzDw60iw2G6c4rUunHYPPCIFSe1FXBxMsLP&hc_ref=ARSrgSZnoeBw2O5Jm-8zAd1Z8pybhlMXpv2jhAEeHNUumBhtLuE_M3raqS38qnASXFo&__xts__[0]=68.ARD8BI3wF93L0PrLasGp0NAfRT66IU-lbgZ3scGv_jrQBPuv1tbBCUqi-uzVNj6o6I551s4FQNzza91eYYYLpZGC2RypLOyT_gL4V5JmUYuLpTi1h7VezGSrUGlop6jJJ6LdxC12c-S5OymXXww_AKbybmuB6FwqhqFOslTLMdK4g-9uOyrL-TQFm30DNUn6fdjG_vhVOGZsjGHEJ6Ealti2MqIcz1zP4ExZ9IXiJvG59F-0JD7AqkbbdX_5mXLFoL9aVK6HNyANlLkgGWOeYWYiDI8i1yaTYva2FepiTeLEjTWBO15v6srUSy1i03Hhe21uIPjcyvMawPFThWNjaPh_Zx7M "><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
<!--                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>-->
                <li class="list-inline-item"><a href="mailto:salbero_srl@yahoo.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
        <div>
            <div style="color:gray">
                <p class="h6">Copyright &copy; Salbero S.R.L.</p>
            </div>
        </div>
    </div>
</section>
