.navbar{
    height: 2.8em;
    margin-top: 1.2em;
}

.navbar-light li a{
    color: white; /*#242424;*/
    font-weight: 400;
}

.navbar-custom{
    background-color: #0a66c2;/*#0082E6 - lighter*/

}

.navbar-collapse{
    padding-right: 10%;
}

.navbar-nav{
    margin-left: 8%;
}
/*------DROPDOWN HERE-------*/
#nav-dropdown{
    margin-top: -1.2%;
    background-color: #0a66c2;
    border: none;
    outline: 0;
}

#navbarNavDropdown{
    background-color: #0a66c2; /*small screen menu, make this "white", if color=black*/
    text-align: right;
}

/*asta face hover si nu click*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


#phone{
    text-decoration: none;
    color: #0a66c2;
    float:right;
    margin-right: 5%;
}

/*-----------------Search box-------------------*/
body{
    background: #f2f2f2;
}

.search {
    width: 100%;

    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid #0a66c2;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus{
    color: dimgray;
}

.searchButton {
    width: 12%;
    border: 1px solid #0a66c2;
    background: #0a66c2;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
    font-size: 20px;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
