<div id="wrap-phone">
    <img id="phone-icon" src="../../../assets/phone.png">
    <a class="phone" id="first-phone" href="tel:+40729352586"> +40 729 352 586</a>
    <a class="phone" href="tel:+40729333207"> / +40 729 333 207</a>
</div>

<app-search></app-search>

<nav class="navbar navbar-expand-md navbar-light navbar-custom">
    <button class="navbar-toggler ml-auto navbar-dark" id="nav-dropdown" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar(!this.navbarDevice)">Meniu
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{ 'show': navbarDevice }">
        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link" routerLink="" (click)="toggleNavbar(false)">Acasă</a></li>

            <li ngbDropdown class="nav-item dropdown" (mouseenter)="setDropdown(true)"
                (mouseleave)="setDropdown(false)">
                <a class="nav-link dropdown-toggle" [routerLink]="['/produse']" (click)="setTheme('produse')"
                   id="navbarDropdownMenuLink">
                    Produse
                </a>
                <div ngbDropdownMenu class="{{dropdownClass}}" style="margin-top: 0" (click)="setDropdown(false)">
                    <div class="dropdown-item" style="color: black; font-weight: 300" [routerLink]="['/produse','gard']"
                         (click)="setTheme('gard')">Gard
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300"
                         [routerLink]="['/produse','spalier']"
                         (click)="setTheme('spalier')">Spalieri
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('boltar')">
                        Bolțari
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('pavel')">
                        Pavele
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('tigla')">
                        Țiglă
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('bordur')">
                        Borduri
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('caciul')">
                        Caciuli si Coame gard
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('fantana')">
                        Fantană Arteziană
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('piatra')">
                        Piatră Decorativă
                    </div>
                    <div class="dropdown-item" style="color: black; font-weight: 300" (click)="setTheme('jardinier')">
                        Jardiniere
                    </div>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="despre-noi" (click)="toggleNavbar(false)">Despre
                noi</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="contact" (click)="toggleNavbar(false)">Contact</a></li>
        </ul>
    </div>
</nav>
