<div class="mycontainer-1">
    <div class="cine-suntem-txt-1">
        <h5 class="title">Cine suntem noi ?</h5>
        <div>Încă din anul 1999 oferim clienților noștri o gama largă și diversificată de produse din beton de calitate
            destinate casei și grădinii tale.
            Am învățat multe în cei peste 20 de ani de când activăm și asta ne ajută să îți oferim produse care rezistă
            în timp.
        </div>
        <div>Materialele de construcții ne pasionează și căutăm încontinuu să inovăm pentru a-ți oferi cea mai bună
            experiență în proiectul tău de construcție.
            Ne dorim să pleci mulțumit, să revii cu plăcere și să ne recomanzi cu încredere.
        </div>
    </div>
    <img class="cine-suntem-img-1" src="../../../assets/despre-noi1.png" alt="echipa lucrand">
</div>

<div class="mycontainer-2">
    <div *ngIf="screenWidth > 768; then desktopBlock else mobileBlock"></div>

    <ng-template #desktopBlock>
        <img class="cine-suntem-img-2" src="../../../assets/teamwork.png" alt="maini unite">
        <div class="cine-suntem-txt-2">
            <h5 class="title">Valorile noastre</h5>
            <div>Suntem onești pentru a putea fi sigur că îți livrăm exact ceea ce ți-am promis.</div>
            <div>Progresul continuu ne caracterizează pentru că tu să fii tot mai mulțumit, în fiecare zi.</div>
            <div>Punem clientul pe primul loc și ne dorim să ai o experiență cât mai plăcută pentru a simți că ești
                cea mai importantă componentă a companiei noastre.</div>
        </div>
    </ng-template>

    <ng-template #mobileBlock>
        <div class="cine-suntem-txt-2">
            <h5 class="title">Valorile noastre</h5>
            <div>Suntem onești pentru a putea fi sigur că îți livrăm exact ceea ce ți-am promis.</div>
            <div>Progresul continuu ne caracterizează pentru că tu să fii tot mai mulțumit, în fiecare zi.</div>
            <div>Punem clientul pe primul loc și ne dorim să ai o experiență cât mai plăcută pentru a simți că ești
                cea mai importantă componentă a companiei noastre.</div>
        </div>
        <img class="cine-suntem-img-2" src="../../../assets/teamwork.png" alt="maini unite">
    </ng-template>


</div>
