<app-navbar></app-navbar>
<p style="margin-left: 10%; margin-top: 5%; margin-bottom: 5%; margin-right: 10%">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Nam pulvinar mauris enim, id eleifend sapien semper eget.
    Cras et nisl a erat mollis congue. Aliquam vel orci arcu. Integer dictum consectetur lacus, vel iaculis ante commodo
    vel. Nullam ligula lorem, molestie in ante ac, aliquam aliquet eros. Mauris pharetra tristique iaculis. Vestibulum
    sed ligula nibh. Fusce aliquam accumsan sodales. Cras ut tellus et enim vestibulum ultricies. Nulla rhoncus
    pellentesque est eget vulputate. Ut feugiat a ipsum ut ultricies.

    Nam malesuada consectetur mi sit amet commodo. Duis ac ultrices libero. In hac habitasse platea dictumst. Vestibulum
    est turpis, euismod non sapien rhoncus, rhoncus aliquet mi. Etiam ut elit felis. Duis tempus ultricies tellus, sed
    maximus turpis tincidunt tempor. Aliquam erat volutpat. Integer fermentum ac quam non egestas. Fusce non nulla ut
    turpis suscipit maximus. Nulla facilisi. Cras non fermentum est, vel ultrices nibh. Integer consequat tristique
    ullamcorper. Donec sit amet neque vulputate, tempor risus ac, posuere mauris.

    Sed ut purus purus. Sed consequat turpis vestibulum augue viverra, nec facilisis tellus ornare. Aliquam nec lectus
    nunc. Mauris hendrerit orci et turpis vulputate rhoncus. Suspendisse potenti. Donec ut efficitur magna. Quisque
    fringilla neque ut risus consequat, sed rhoncus lacus viverra. Donec et eros odio. Maecenas at fermentum lectus.
    Maecenas sit amet dignissim leo, tempor sodales felis. Pellentesque sagittis, elit non varius semper, enim augue
    luctus urna, in posuere ligula leo ac ante. Maecenas in est rutrum, mollis turpis eu, mollis odio. Sed rhoncus metus
    pellentesque nulla ullamcorper pulvinar. Aliquam nec tellus quis dui euismod placerat.

    Suspendisse erat lacus, tincidunt vitae dignissim vel, interdum a nulla. Donec ante urna, maximus tempor tortor
    eget, porta ultrices urna. Aenean in tristique nunc, et facilisis lorem. Vestibulum luctus risus ligula, sed
    faucibus diam sollicitudin ut. Praesent euismod tincidunt tortor eget consectetur. Phasellus aliquet iaculis elit,
    eget accumsan diam scelerisque sit amet. Curabitur placerat odio ac nisl blandit faucibus. Etiam varius condimentum
    pulvinar. Vestibulum mollis felis in lacus sagittis, quis imperdiet leo vestibulum. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos.

    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam laoreet iaculis aliquet. In hac habitasse platea
    dictumst. Ut rhoncus justo at fermentum varius. Phasellus vitae libero sodales, blandit odio et, convallis ligula.
    Morbi nulla nisi, ornare sed fringilla sit amet, porta id ipsum. Fusce ut felis mollis, lobortis est in, dapibus
    tortor. Aenean malesuada diam at ante ornare, dapibus tempor dolor vestibulum. Donec vehicula ex a sagittis finibus.
    Donec bibendum laoreet sapien, et maximus metus tristique at. In lobortis scelerisque tortor a porttitor. Praesent
    iaculis leo ligula, ac tincidunt nulla auctor vel. Cras ac porttitor lacus. Aliquam ipsum diam, congue nec risus at,
    scelerisque convallis tellus.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam laoreet iaculis aliquet. In hac habitasse platea
    dictumst. Ut rhoncus justo at fermentum varius. Phasellus vitae libero sodales, blandit odio et, convallis ligula.
    Morbi nulla nisi, ornare sed fringilla sit amet, porta id ipsum. Fusce ut felis mollis, lobortis est in, dapibus
    tortor. Aenean malesuada diam at ante ornare, dapibus tempor dolor vestibulum. Donec vehicula ex a sagittis finibus.
    Donec bibendum laoreet sapien, et maximus metus tristique at. In lobortis scelerisque tortor a porttitor. Praesent
    iaculis leo ligula, ac tincidunt nulla auctor vel. Cras ac porttitor lacus. Aliquam ipsum diam, congue nec risus at,
    scelerisque convallis tellus.</p>
<p style="margin-left: 10%; margin-top: 5%; margin-bottom: 5%; margin-right: 10%">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar mauris enim, id eleifend sapien semper eget.
    Cras et nisl a erat mollis congue. Aliquam vel orci arcu. Integer dictum consectetur lacus, vel iaculis ante commodo
    vel. Nullam ligula lorem, molestie in ante ac, aliquam aliquet eros. Mauris pharetra tristique iaculis. Vestibulum
    sed ligula nibh. Fusce aliquam accumsan sodales. Cras ut tellus et enim vestibulum ultricies. Nulla rhoncus
    pellentesque est eget vulputate. Ut feugiat a ipsum ut ultricies. Nam malesuada consectetur mi sit amet commodo.
    Duis ac ultrices libero. In hac habitasse platea dictumst. Vestibulum est turpis, euismod non sapien rhoncus,
    rhoncus aliquet mi. Etiam ut elit felis. Duis tempus ultricies tellus, sed maximus turpis tincidunt tempor. Aliquam
    erat volutpat. Integer fermentum ac quam non egestas. Fusce non nulla ut turpis suscipit maximus. Nulla facilisi.
    Cras non fermentum est, vel ultrices nibh. Integer consequat tristique ullamcorper. Donec sit amet neque vulputate,
    tempor risus ac, posuere mauris. Sed ut purus purus. Sed consequat turpis vestibulum augue viverra, nec facilisis
    tellus ornare. Aliquam nec lectus nunc. Mauris hendrerit orci et turpis vulputate rhoncus. Suspendisse potenti.
    Donec ut efficitur magna. Quisque fringilla neque ut risus consequat, sed rhoncus lacus viverra. Donec et eros odio.
    Maecenas at fermentum lectus. Maecenas sit amet dignissim leo, tempor sodales felis. Pellentesque sagittis, elit non
    varius semper, enim augue luctus urna, in posuere ligula leo ac ante. Maecenas in est rutrum, mollis turpis eu,
    mollis odio. Sed rhoncus metus pellentesque nulla ullamcorper pulvinar. Aliquam nec tellus quis dui euismod
    placerat. Suspendisse erat lacus, tincidunt vitae dignissim vel, interdum a nulla. Donec ante urna, maximus tempor
    tortor eget, porta ultrices urna. Aenean in tristique nunc, et facilisis lorem. Vestibulum luctus risus ligula, sed
    faucibus diam sollicitudin ut. Praesent euismod tincidunt tortor eget consectetur. Phasellus aliquet iaculis elit,
    eget accumsan diam scelerisque sit amet. Curabitur placerat odio ac nisl blandit faucibus. Etiam varius condimentum
    pulvinar. Vestibulum mollis felis in lacus sagittis, quis imperdiet leo vestibulum. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    Curae; Nullam laoreet iaculis aliquet. In hac habitasse platea dictumst. Ut rhoncus justo at fermentum varius.
    Phasellus vitae libero sodales, blandit odio et, convallis ligula. Morbi nulla nisi, ornare sed fringilla sit amet,
    porta id ipsum. Fusce ut felis mollis, lobortis est in, dapibus tortor. Aenean malesuada diam at ante ornare,
    dapibus tempor dolor vestibulum. Donec vehicula ex a sagittis finibus. Donec bibendum laoreet sapien, et maximus
    metus tristique at. In lobortis scelerisque tortor a porttitor. Praesent iaculis leo ligula, ac tincidunt nulla
    auctor vel. Cras ac porttitor lacus. Aliquam ipsum diam, congue nec risus at, scelerisque convallis tellus.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam laoreet iaculis aliquet. In hac habitasse platea
    dictumst. Ut rhoncus justo at fermentum varius. Phasellus vitae libero sodales, blandit odio et, convallis ligula.
    Morbi nulla nisi, ornare sed fringilla sit amet, porta id ipsum. Fusce ut felis mollis, lobortis est in, dapibus
    tortor. Aenean malesuada diam at ante ornare, dapibus tempor dolor vestibulum. Donec vehicula ex a sagittis finibus.
    Donec bibendum laoreet sapien, et maximus metus tristique at. In lobortis scelerisque tortor a porttitor. Praesent
    iaculis leo ligula, ac tincidunt nulla auctor vel. Cras ac porttitor lacus. Aliquam ipsum diam, congue nec risus at,
    scelerisque convallis tellus.
</p>
<router-outlet></router-outlet>
<app-footer></app-footer>
