.navbar {
    height: 2.8em;
    margin-top: 1.2em;
}

.navbar-brand {
    color: black;
    margin-left: 8%;
}

/*-----------------Search box-------------------*/
.wrap {
    margin-top: -0.5%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    position: relative;
    display: flex;
    margin-right: -93%;
    margin-top: 8%;
    padding-left: 18%;
}

.searchTerm {
    width: 100%;
    border: 1px solid #0082E6;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #3b3b3b;
}

.searchButton {
    width: 2em;
    border: 1px solid #0082E6;
    background: #0082E6;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    outline: 0;
}

img{
    width: 80%;
    height: 70%;
}

.logo {
    display: flex;
    margin-top: -6%;
}

@media only screen and (max-width: 319px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
    .logo {
        margin-left: -4%;
        margin-top: -20%;
    }
    img {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) and (min-width: 360px) {
    .logo {
        margin-left: -5%;
        margin-top: -20%;
    }
    img {
        width: 70%;
    }
}

@media only screen and (max-width: 450px) and (min-width: 400px) {
    .logo {
        margin-left: -2%;
        margin-top: -17%;
    }

    img {
        width: 70%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 450px) {
    .logo {
        margin-left: 3%;
        margin-top: -15%;
    }
}

@media only screen and (max-width: 750px) and (min-width: 650px) {
    .logo {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 768px) {

    #upper-navbar {
        margin-top: -1%;
    }

    .wrap {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 1px solid #0082E6;
        border-right: none;
        padding: 5px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #3b3b3b;
    }

    .searchButton {
        width: 2em;
        border: 1px solid #0082E6;
        background: #0082E6;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        outline: 0;
    }
}

@media only screen and (max-width: 900px) and (min-width: 750px) {
    .logo {
        margin-top: -9%;
    }
    .wrap {
        margin-top: 1%;
        width: 40%;
        top: 50%;
        left: 50%;
    }
}

@media only screen and (max-width: 1249px) and (min-width: 900px) {
    .logo {
        margin-top: -6.8%;
    }
    .wrap {
        margin-top: 0%;
        width: 40%;
        top: 50%;
        left: 50%;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1250px) {
    .logo {
        margin-top: -5.5%;
    }
}

@media only screen and (max-width: 1850px) and (min-width: 1500px) {
    .logo {
        margin-top: -4.5%;
    }
}

@media only screen and (max-width: 2050px) and (min-width: 1850px) {
    .logo {
        margin-top: -4%;
    }
}

