<div class="navbar" id="upper-navbar">
    <a class="navbar-brand logo" href=""><img src="../../../assets/logo.png" alt="Salbero logo"></a>
    <div class="wrap">
        <div class="search">
            <input #myInput (keyup)="takeInput($event)" name="searchBox" type="text" class="searchTerm "
                   placeholder="Caută un produs">
            <button type="submit" class="searchButton" [routerLink]="['produse','search-'.concat(inputValue)]" (click)="reset()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
