<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="constructii, prefabricate, beton, ciment, acasa, salbero, materiale, gorj"/>
    <meta name="author" content="Salbero">
    <meta name="description" content="Panouri de gard, boltari, pavele, spalieri, fantana arteziana si alte materiale
     prefabricate din beton produse din ciment de inalta calitate, foarte rezistente.">
    <title>Salbero - Producator Gard, Boltari, Pavele si prefabricate din beton </title>
</head>
<body>
<div class="text-center">
</div>
<br>
<div class="prod-menu">
    <!--Gard-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_gard.jpg"/>
        <div class="prod-content">
            <h4>Garduri</h4>
            <p>Placi de gard produse din ciment superior si armate cu fier beton</p>
            <p>moderne si durabile.</p>
            <div [routerLink]="['/produse', 'gard']" routerLinkActive="active"
                 (click)="setTheme('gard')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Boltari-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_boltar.jpg"/>
        <div class="prod-content">
            <h4>Boltari</h4>
            <p>Boltari de zidarie produsi din beton vibropresat.</p>
            <div [routerLink]="['/produse', 'boltar']" routerLinkActive="active"
                 (click)="setTheme('boltar')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Capace si Coame de gard-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_capac.jpg"/>
        <div class="prod-content">
            <h4>Capace si Coame de gard</h4>
            <p>Accesoriile de gard au rolul de a completa aspectul.</p>
            <div [routerLink]="['/produse', 'capac']" routerLinkActive="active"
                 (click)="setTheme('capac')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Fantana Arteziana-->
    <div class="row">
        <img class="prod-img"
             src="../../../assets/products/acasa_fantana.png"/>
        <div class="prod-content">
            <h4>Fantani Arteziene</h4>
            <p>Creata special pentru completarea gradinii, fantana arteziana reprezinta un obiect principal in decorarea acesteia.</p>
            <p>Descopera produsele noastre si alege-o pe cea perfecta pentru tine.</p>
            <div [routerLink]="['/produse', 'fantana']" routerLinkActive="active"
                 (click)="setTheme('fantana')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Spalieri-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_spalieri.jpg"/>
        <div class="prod-content">
            <h4>Spalieri / Stalpi</h4>
            <p>Rezistenti, armati cu fier beton Ø6mm, ideali pentru garduri sau sustinerea viei.</p>
            <div [routerLink]="['/produse', 'spalier']" routerLinkActive="active"
                 (click)="setTheme('spalier')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Piatra Decorativa-->
    <div class="row">
        <img class="prod-img"
             src="../../../assets/products/acasa_piatra.jpg"/>
        <div class="prod-content">
            <h4>Piatra Decorativa</h4>
            <p>Se monteaza pe fatadele exterioare oferind un aspect unic si placut.</p>
            <div [routerLink]="['/produse', 'piatra']" routerLinkActive="active"
                 (click)="setTheme('piatra')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Pavele-->
    <div class="row">
        <img class="prod-img"
             src="../../../assets/products/acasa_pavea.jpg"/>
        <div class="prod-content">
            <h4>Pavele</h4>
            <p>Amenajeaza spatiile exterioare rezidentiale cu pavele pietonale sau pentru trafic auto.</p>
            <div [routerLink]="['/produse', 'pavele']" routerLinkActive="active"
                 (click)="setTheme('pavele')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Borduri-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_bordura.jpg"/>
        <div class="prod-content">
            <h4>Borduri</h4>
            <p>Delimitarea aleilor exterioare nu a fost niciodata mai simpla.</p>
            <div [routerLink]="['/produse', 'bordur']" routerLinkActive="active"
                 (click)="setTheme('bordur')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
    <br>
    <br>
    <!--Tigla-->
    <div class="row">
        <img class="prod-img" src="../../../assets/products/acasa_tigla.jpg"/>
        <div class="prod-content">
            <h4>Tigla si Olane</h4>
            <p>Pentru acoperisuri clasice si rezistente, alege tigla Salbero.</p>
            <div [routerLink]="['/produse', 'tigla']" routerLinkActive="active"
                 (click)="setTheme('tigla')" class="btn btn-light">Vezi mai mult</div>
        </div>
    </div>
</div>
</body>
