
#acasa-image{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}

/*----------Produse Acasa---------*/
.row{
    background-color: #f5f5f5;
}
.btn{
    margin-top: 5%;
    margin-bottom: 2%;
    border: 1px solid gray;
}
.prod-img{
    width: 90%;
    height: 40%;
    float:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prod-content{
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5%;
}
.prod-menu{
    width: 80%;
    margin: auto;
    padding: 10px;
}

/*---------Small Mobile Screen-------*/
@media only screen and (max-width: 337px) {
    p{
        font-size: 12px;
    }
    .prod-content{
        margin-right: 10px;
    }
}

/*----------Tablet and almost Laptop Screen-----*/
@media only screen and (min-width: 729px) and (max-width: 1000px){
    .prod-img{
        width: 200px;
        height: 200px;
        float:left;
        margin-left: 0px;
        margin-right: 0px;
    }
    .prod-content{
        margin-left: 1%;
    }
    .prod-menu{
        width: 80%;
        margin: auto;
        padding: 10px;
    }
}

/*----------Laptop Screen---------*/
@media only screen and (min-width: 1000px){
    #acasa-image{
        width: 70%;
    }
    .prod-img{
        width: 300px;
        height: 300px;
        float:left;
        margin-left: 0px;
        margin-right: 0px;
    }
    .prod-content{
        margin-left: 2%;
        margin-top: 1%;
    }
    .prod-menu{
        width: 80%;
        margin: auto;
        padding: 10px;
    }
}

